/* Tablet and Mobile */
@media (max-width: 63.9375em) {
    .btn{
        padding: 15px 16px;
        -webkit-appearance: none;
    }

    #nav .subnav a{
        padding: 12px 12px;
    }

    
    #content .place-img:hover{
        opacity: 1;
    }

    #contact .contact-info{
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 14px;
    }

    #footer .social-list {
        font-size: 38px;
    }

    #footer .social-list a{
        padding: 0 8px;
    }

    #footer .copyright{
        font-size: 18px;
    }

}


/* Mobile */
@media (max-width: 46.1875em) {
    .mb-8{
        margin-bottom: 8px !important;
    }

    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    #header{
        overflow: hidden;
    }

    #nav{
        display: block;
    }

    #nav > li{
        float: none;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 12px 36px;
    }

    .mobile-menu{
        display: block;
    }

    .search-icon{
        display: none;
    }

    #slider .text-box{
        display: none;
    }

}